.iframe-editor {
  width: 100%;
  min-height: 64px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  background-color: #fbfbfb;
  position: relative;
}

.iframe-editor.editing:hover {
  background-color: #fbfbfb;
}

.iframe-editor:hover {
  background-color: #f1f1f1;
}

.iframe-editor-icon {
  font-size: 14px;
  color: #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.iframe-editor-form {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  gap: 8px;
  padding-left: 6px;
  font-size: 16px;
  background-color: transparent;
}

.iframe-editor-form textarea {
  flex-grow: 1;
  height: 32px;
  outline: none;
  border: none;
  background-color: transparent;
  user-select: auto;
  caret-color: #131313;
  font-size: 14px;
  resize: vertical;
}

.iframe-editor-placeholder {
  color: #b9b9b9;
  user-select: none;
  font-size: 14px;
}

.iframe-editor-placeholder button {
  padding: 0;
  color: #b3b3b3;
  cursor: pointer;
  border-bottom: 1px solid #b3b3b3;
}

.iframe-editor-placeholder button:hover {
  color: #22a0dc;
}