.iframe-editor {
  width: 100%;
  min-height: 64px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  background-color: #fbfbfb;
  position: relative;
}

.iframe-editor.editing:hover {
  background-color: #fbfbfb;
}

.iframe-editor:hover {
  background-color: #f1f1f1;
}

.iframe-editor-icon {
  font-size: 14px;
  color: #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.iframe-editor-main {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.iframe-editor-form {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 8px;
  padding: 8px;
  font-size: 16px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #DDDDDD;
}

.iframe-editor-form textarea {
  height: 100%;
  max-width: 100%;
  flex-grow: 1;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 14px;
  user-select: text;
  resize:vertical;
}

