.text-button {
  border-radius: 6px;
  padding: 6px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  text-align: center;
}

.text-button:hover {
  background-color: var(--highlight-color);
}