.z-top {
  z-index: 99999;
}
.floating-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 36px;
    gap: 0.25rem;
    background-color: transparent;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    width: 100%;
    z-index: 99999;
    /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
  }

  .floating-menu-group {
    border-width: 1px;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: #FFFFFF;
    /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
  }

  .floating-menu {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    font-weight: 500;
    min-height: 32px;
    background-color: #ffffff;
    display: flex;
    gap: 6px;
    align-items: center;
  }

.floating-menu:hover {
    color: var(--highlight-text-color);
    background-color: var(--highlight-color);
  }
  
.floating-menu.active {
    color: #1D4ED8;
  }
  
.floating-menu-group:first-child {
    border-radius: 0.375rem 0 0 0.375rem;
  }
  
.floating-menu-group:last-child {
    border-radius:  0 0.375rem 0.375rem 0;
  }
  
.floating-input {
  margin-left: 0.25rem;
  flex: 1 1 0%;
  outline-style: none;
  border-radius: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: #ffffff;
  border-width: 0px 0px 1px 0px;
}

  .color-item {
    display: flex;
    z-index: 9999;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 50%;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  
  .color-item:hover {
    opacity: 1;
  }
  
  .color-item .inner {
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    border-color: #DDD;
    border-width: 1px;
    font-size: 0.8rem;
    text-align: center;
    vertical-align: middle;
  }
  
  .link-menu .active {
    color: #1D4ED8;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  
  .link-form input {
    padding: 0.25rem;
    flex: 1 1 0%;
    outline-style: none;
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: #ffffff;
    border-width: 0px 0px 1px 0px;
  }
  
  .link-form button {
    display: flex;
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding: 0.25rem;
    align-items: center;
    border-radius: 0.125rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
  
  .link-form button:hover {
    background-color: #F3F4F6;
  }
  
  
  .link-card {
    overflow: hidden;
    border-radius: 0.25rem;
    max-width: 24rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  
  }
  
  .link-card .cover {
    object-fit: contain;
    width: 100%;
    max-height: 180px;
    text-align: center;
    margin: 0 auto;
  }
  
  .link-card .main {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .link-card .title {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
  
  }
  
  .link-card .description {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #374151;
  }