.suggest-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0.375rem;
    border-width: 1px;
    width: 18rem;
    height: auto;
    color: #37352f;
    background-color: #ffffff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    max-height: 312px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.suggest-main {
    width: 100%;
    position: relative;
}

.suggest-main .item {
    display: flex;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-items: center;
    border-radius: 0.375rem;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: left;
}

.suggest-main .item:hover {
    background-color: var(--highlight-color);
    color: var(--highlight-text-color)
}

.suggest-main .item.selected {
    background-color: var(--highlight-color);
    color: var(--highlight-text-color)
}

.suggest-main .item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    width: 2.5rem;
    height: 2.5rem;
}

.suggest-main .item .content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
    margin-left: 0.5rem;
    padding-right: 2px;
}

.suggest-main .item .content .title {
    font-weight: 500; 
    display: inline-block;
    user-select: false;
}

.suggest-main .item .content .description {
    font-size: 0.75rem;
    line-height: 1rem; 
    word-wrap: break-word;
    /* color: #787774; */
    margin-top: 2px;
}