.EditorTheme__paragraph {
  color: #37352f;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.2px;
}

.EditorTheme__h1 {
  color: #000000E0;
  font-size: 32px;
  line-height: 40px;
}

.EditorTheme__h2 {
  color: #000000E0;
  font-size: 24px;
  line-height: 32px;
}

.EditorTheme__h3 {
  color: #000000E0;
  font-size: 20px;
  line-height: 28px;
}

.EditorTheme__h4,.EditorTheme__h5,.EditorTheme__h6  {
  color: #000000E0;
  font-size: 18px;
  line-height: 26px;
}

.EditorTheme__quote {
  background: #fefefe;
  border-left: 6px solid #EEE;
  margin: 1em 0px;
  padding: 0.5em 10px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.EditorTheme__textBold {
  color: #37352f;
  font-weight: 600;
}

.EditorTheme__textCode  {
  color: #EB5757;
  background-color: #87837826;
  border-radius: 3px;
  line-height: 85%;
  padding: 0.2em 0.4em;
  &::before {
      content: none !important
  }

  &::after {
      content: none !important
  }
}

.EditorTheme__textUnderline {
  text-decoration: none;
  border-bottom: 0.05em solid #37352f;
  word-wrap: break-word;
}

.EditorTheme__link {
  position: relative;
  text-decoration: none;
  color: #37352f;
  cursor: pointer;
  opacity: 0.75;
  border-bottom: 0.8px solid #37352f66;
  
  &:hover {
    opacity: 1;
  }
}

.EditorTheme__hashtag {
  background-color: rgba(88, 144, 255, 0.15);
  border-bottom: 1px solid rgba(88, 144, 255, 0.3);
}

/* list */
.EditorTheme__ul {
  list-style-type: revert;
  padding-left: 1.625em;
}

.EditorTheme__ul > .EditorTheme__listItem {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.EditorTheme__ul .EditorTheme__listItem {
  /* padding-left: 0.375em; */
}

.EditorTheme__ol {
  list-style-type: decimal;
  padding-left: 1.625em;
}

.EditorTheme__ol2 {
  list-style-type: upper-alpha;
  padding-left: 1.625em;
}

.EditorTheme__ol3 {
  list-style-type: lower-alpha;
  padding-left: 1.625em;
}

.EditorTheme__ol4 {
  list-style-type: upper-roman;
  padding-left: 1.625em;
}

.EditorTheme__ol5 {
  list-style-type: lower-roman;
  padding-left: 1.625em;
}

.EditorTheme__ol .EditorTheme__listItem {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* check list */
.EditorTheme__listItemChecked,
.EditorTheme__listItemUnchecked {
  position: relative;
  margin-right: 8px;
  padding-left: 24px;
  padding-right: 24px;
  list-style-type: none;
  outline: none;
}

.EditorTheme__listItemChecked {
  text-decoration: line-through;
}

.EditorTheme__listItemUnchecked:before,
.EditorTheme__listItemChecked:before {
  content: '';
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0px;
  cursor: pointer;
  display: block;
  background-size: cover;
  position: absolute;
}

.EditorTheme__listItemUnchecked[dir='rtl']:before,
.EditorTheme__listItemChecked[dir='rtl']:before {
  left: auto;
  right: 0;
}

.EditorTheme__listItemUnchecked:focus:before,
.EditorTheme__listItemChecked:focus:before {
  border-radius: 2px;
}

.EditorTheme__listItemUnchecked:before {
  border: 1px solid #999;
  border-radius: 2px;
}

.EditorTheme__listItemChecked:before {
  border: 1px solid rgb(61, 135, 245);
  border-radius: 2px;
  background-color: #3d87f5;
  background-repeat: no-repeat;
}

.EditorTheme__listItemChecked:after {
  content: '';
  cursor: pointer;
  border-color: #fff;
  border-style: solid;
  position: absolute;
  display: block;
  top: 6px;
  width: 3px;
  left: 7px;
  right: 7px;
  height: 6px;
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
}

.EditorTheme__nestedListItem {
  list-style-type: none;
}

.EditorTheme__nestedListItem:before,
.EditorTheme__nestedListItem:after {
  display: none;
}

.EditorTheme__embedBlock {
  user-select: none;
  margin-top: 16px;
  margin-bottom: 16px;
}

.EditorTheme__embedBlockFocus {
}