.text-button {
  border-radius: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  gap: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  user-select: none;
}

.text-button:hover {
  background-color: var(--highlight-color);
}

.dark-button {
  border-radius: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  gap: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ededed;
  opacity: 1;
}

.dark-button:hover {
  background-color: #252529;
}